.clipper {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;

  &__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;

    &__mask {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #000;
      opacity: 0.6;
    }

    &__touch-view {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
    }

    &__button-cancel {
      position: fixed;
      left: 60px;
      bottom: 50px;
      z-index: 200;
    }

    &__button-sure {
      position: fixed;
      right: 60px;
      bottom: 50px;
      z-index: 200;
    }
  }
}
